<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/my_event.css">
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/my_event.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="col-sm-3" id="navColumn">
      <div id="topProfile">
        <img id="thumbnail" class="circular" src="../public/images/cat.jpg">
        <span id="screenName"></span>
      </div>
      <div id="bottomlinks">
        <ul>
          <li><a id="myProfile" href="#">                          My Profile       </a></li>
          <li><a id="" href="/my_event" class="active">            Events           </a></li>
          <li><a id="" href="/my_organisation">                    Organisations    </a></li>
          <li><a id="slowShowButton" href="javascript: void(0)">   Enter access key </a></li>
          <form id="slowShowList" role="form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="24-digit access key" id="accessKeyInput">
            </div>
            <select class="form-control" id="accessKeyOptions">
              <option>Organisation</option>
              <option>Event</option>
            </select>
            <button class="btn btn-default" id="accessKeySubmitButton">Submit</button>
          </form>
          <li id="signoutList" class="affix-bottom"><a id="signoutButton" href="#">                      Signout          </a></li>
        </ul>
      </div>
    </div>


    <div class="wrapper" id="top">
      <h1>Your upcoming events..</h1>
      <div class="table" id="upcomingEventsTable">
      </div>
    </div>

    <div class="wrapper" id="bottom">
      <h1>Events that host by your organisations..</h1>
      <div class="table" id="potentialEventsTable">
      </div>
    </div>





  </body>
</html>
