<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/jquery.datetimepicker.css"/>
    <link rel="stylesheet" href="../public/css/organisation.css">
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/organisation.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="../public/js/jquery.datetimepicker.js"></script>
  </head>
  <body>
    <div class="col-sm-3" id="navColumn">
      <div id="topProfile">
        <img id="thumbnail" class="circular" src="../public/images/cat.jpg">
        <span id="screenName"></span>
      </div>
      <div id="bottomlinks">
        <ul>
          <li><a id="myProfile" href="#">                          My Profile       </a></li>
          <li><a id="" href="/my_event">            Events           </a></li>
          <li><a id="" href="/my_organisation">                    Organisations    </a></li>
          <li><a id="slowShowButton" href="javascript: void(0)">   Enter access key </a></li>
          <form id="slowShowList" role="form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="24-digit access key" id="accessKeyInput">
            </div>
            <select class="form-control" id="accessKeyOptions">
              <option>Organisation</option>
              <option>Event</option>
            </select>
            <button class="btn btn-default" id="accessKeySubmitButton">Submit</button>
          </form>
          <li id="signoutList" class="affix-bottom"><a id="signoutButton" href="#">                      Signout          </a></li>
        </ul>
      </div>
    </div>

    <div class="wrapper" id="organisationInfo">
      <h1 id="organisationName"></h1>
      <button type="button" id="quitOrganisationButton" class="btn btn-primary btn-lg">
        Quit this organisation
      </button>
      <button type="button" id="editOrganisationButton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
        Edit
      </button>
      <button type="button" id="joinOrganisationButton" class="btn btn-primary btn-lg">
        Join this organisation
      </button>
      <p class="infoText">Description:      <span id="descriptionInfo"> </span></p>
      <p class="infoText">Location:         <span id="locationInfo">    </span></p>
      <p class="infoText">Member:           <span id="memberInfo">      </span></p>
      <p class="infoText">Quick access key: <span id="idInfo"></span></p>
      <p class="infoText">This is a         <span id="privateInfo">     </span> organisation.</p>
    </div>
    <div class="wrapper" id="organisationEvents">
      <h1>Events</h1>
      <button type="button" id="createEventButton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Create one!
      </button>
      <div class="table" id="organisationEventsTable">
      </div>
    </div>

    <div class="wrapper" id="organisationMembers">
      <h1>Members</h1>
      <div class="table" id="organisationMembersTable">
      </div>
    </div>















    <!-- Create event form -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create event</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" id="createForm" role="form">
              <div class="form-group">
                <label class="control-label col-sm-2">Name: </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="eventNameInput" placeholder="Name of your event">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Location: </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="eventLocationInput" placeholder="Location of your event">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Start: </label>
                <div class="col-sm-10">
                  	<input type="text" id="eventStartInput" class="form-control default_datetimepicker"/>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">End: </label>
                <div class="col-sm-10">
                  	<input type="text" id="eventEndInput" class="form-control default_datetimepicker"/>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Description: </label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="5" id="eventDescriptionInput"></textarea>
                </div>
              </div>
            </form>
            <div class="alert alert-info" role="alert" id="alertEventName">
              <a href="#" class="alert-link">Name must be between 3 - 50 characters long.</a>
            </div>
            <div class="alert alert-info" role="alert" id="alertEventDescription">
              <a href="#" class="alert-link">Maximum 2000 characters for description.</a>
            </div>
            <div class="alert alert-info" role="alert" id="alertEventLocation">
              <a href="#" class="alert-link">Maximum 200 characters for location.</a>
            </div>
            <div class="alert alert-info" role="alert" id="alertEventStart">
              <a href="#" class="alert-link">Please provide a start time.</a>
            </div>
            <div class="alert alert-info" role="alert" id="alertEventEnd">
              <a href="#" class="alert-link">Please provide an end time.</a>
            </div>
            <div class="alert alert-success" role="alert" id="createSuccess">
              <h3>Congratulations!! Your event ID: <br><br><span id="eventID"></span></h3>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary modalDoneButton">Done</button>
            <button type="button" class="btn btn-default modalCloseButton" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary modalSubmitButton" id="eventSubmitButton">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit organisation form -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit organisation</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" id="updateForm" role="form">
              <div class="form-group">
                <label class="control-label col-sm-2">Name: </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="organisationNameInput" placeholder="Name of your organisation">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Location: </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="organisationLocationInput" placeholder="Location of your organisation">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Description: </label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="5" id="organisationDescriptionInput"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label><input type="checkbox" id="privateCheckbox">Make it private</label>
                  </div>
                </div>
              </div>
            </form>
            <div class="alert alert-info" role="alert" id="alertOrganisationName">
              <a href="#" class="alert-link">Name must be between 3 - 50 characters long.</a>
            </div>
            <div class="alert alert-info" role="alert" id="alertOrganisationDescription">
              <a href="#" class="alert-link">Maximum 2000 characters for description.</a>
            </div>
            <div class="alert alert-info" role="alert" id="alertOrganisationLocation">
              <a href="#" class="alert-link">Maximum 200 characters for location.</a>
            </div>
            <div class="alert alert-success" role="alert" id="updateSuccess">
              <h3>Congratulations!! Your organisation has beed updated.</h3>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary modalDoneButton">Done</button>
            <button type="button" class="btn btn-default modalCloseButton" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary modalSubmitButton" id="organisationEditButton">Submit</button>
          </div>
        </div>
      </div>
    </div>





  </body>
</html>
